os: linux
dist: bionic

language: node_js
node_js:
  - node

cache:
  npm: true

install:
  - npm install
  - npx browserslist@latest --update-db

script:
  - npm run swizzle docusaurus-lunr-search SearchBar
  - npm run build

deploy:
  provider: pages
  strategy: git
  edge: true
  cleanup: false
  local_dir: ./build
  on:
    branch: master
