/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: rgb(29, 141, 119);
  --ifm-color-primary-dark: rgb(29, 141, 119);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(29, 141, 119);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;

  --ifm-color-secondary: rgb(244, 245, 247);
  --ifm-color-success: rgb(0, 134, 109);
  --ifm-color-info: rgb(46, 143, 166);
  --ifm-color-warning: rgb(237, 192, 67);
  --ifm-color-danger: rgb(242, 89, 36);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* Increase width of the right-hand table of contents */
.col.col--3:last-child {
  --ifm-col-width: 30%; /* Adjust this percentage as needed */
  max-width: 15%; /* Match the width */
}

/* Adjust the main content area to accommodate the wider TOC */
.col.col--9:first-child, 
.col.col--7:first-child { /* Add col--7 if you use a left sidebar */
  --ifm-col-width: 70%; /* 100% - TOC width */
  max-width: 70%; /* Match the width */
}
